-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('SUPER_ADMIN', 'TALLER_ADMIN', 'TALLER_RECEP', 'TALLER_TECNICO', 'TALLER_JEFE');

-- CreateEnum
CREATE TYPE "StatusOT" AS ENUM ('INGRESADO', 'DIAGNOSTICO', 'PRESUPUESTADO', 'EN_PROGRESO', 'CONTROL_CALIDAD', 'LISTO_ENTREGA', 'ENTREGADO', 'ANULADO');

-- CreateEnum
CREATE TYPE "EstadoReserva" AS ENUM ('AGENDADA', 'CONFIRMADA', 'NO_ASISTIO', 'CONVERTIDA_A_OT', 'CANCELADA');

-- CreateTable
CREATE TABLE "Taller" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "plan" TEXT NOT NULL DEFAULT 'BASIC',
    "ubicacion" TEXT,
    "descripcionPublica" TEXT,
    "horarioAtencion" TEXT,
    "telefonoContacto" TEXT,
    "emailContacto" TEXT,
    "logoUrl" TEXT,
    "maxTrabajadores" INTEGER NOT NULL DEFAULT 5,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "limiteReservasDiarias" INTEGER NOT NULL DEFAULT 10,
    "horaApertura" TEXT NOT NULL DEFAULT '08:00',
    "horaCierre" TEXT NOT NULL DEFAULT '19:00',

    CONSTRAINT "Taller_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Usuario" (
    "id" TEXT NOT NULL,
    "clerkId" TEXT,
    "email" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "roles" "Role"[] DEFAULT ARRAY['TALLER_TECNICO']::"Role"[],
    "permisos" JSONB DEFAULT '{}',
    "tallerId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Usuario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Cliente" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "rutDni" TEXT NOT NULL,
    "telefono" TEXT NOT NULL,
    "email" TEXT,
    "direccion" TEXT,
    "tallerId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Cliente_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Vehiculo" (
    "id" TEXT NOT NULL,
    "patente" TEXT NOT NULL,
    "marca" TEXT NOT NULL,
    "modelo" TEXT NOT NULL,
    "anio" INTEGER NOT NULL,
    "color" TEXT,
    "vin" TEXT,
    "kilometraje" INTEGER NOT NULL,
    "clienteId" TEXT NOT NULL,
    "tallerId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Vehiculo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrdenTrabajo" (
    "id" TEXT NOT NULL,
    "codigo" TEXT NOT NULL,
    "status" "StatusOT" NOT NULL DEFAULT 'INGRESADO',
    "tokenSeguro" TEXT NOT NULL,
    "combustible" INTEGER NOT NULL,
    "kilometraje" INTEGER NOT NULL DEFAULT 0,
    "observaciones" TEXT,
    "diagnostico" TEXT,
    "costoManoObra" DECIMAL(65,30) NOT NULL DEFAULT 0.0,
    "costoTotal" DECIMAL(65,30) NOT NULL DEFAULT 0.0,
    "vehiculoId" TEXT NOT NULL,
    "tecnicoId" TEXT,
    "tallerId" TEXT NOT NULL,
    "presupuestoDetalle" TEXT,
    "presupuestoMonto" DECIMAL(65,30) DEFAULT 0.0,
    "presupuestoEstado" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OrdenTrabajo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FotoOT" (
    "id" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "descripcion" TEXT,
    "esRecepcion" BOOLEAN NOT NULL DEFAULT false,
    "ordenTrabajoId" TEXT NOT NULL,
    "trabajoId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "FotoOT_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TareaChecklist" (
    "id" TEXT NOT NULL,
    "tarea" TEXT NOT NULL,
    "completada" BOOLEAN NOT NULL DEFAULT false,
    "ordenTrabajoId" TEXT NOT NULL,
    "trabajoId" TEXT,

    CONSTRAINT "TareaChecklist_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ItemPresupuesto" (
    "id" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "descripcion" TEXT NOT NULL,
    "monto" DECIMAL(65,30) NOT NULL,
    "ordenTrabajoId" TEXT NOT NULL,
    "inventarioItemId" TEXT,

    CONSTRAINT "ItemPresupuesto_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BitacoraAccion" (
    "id" TEXT NOT NULL,
    "accion" TEXT NOT NULL,
    "usuarioNombre" TEXT,
    "ordenTrabajoId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BitacoraAccion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InventarioItem" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "sku" TEXT,
    "tipo" TEXT NOT NULL,
    "unidad" TEXT NOT NULL DEFAULT 'UNIDAD',
    "cantidad" INTEGER NOT NULL DEFAULT 0,
    "stockReservado" INTEGER NOT NULL DEFAULT 0,
    "stockMinimo" INTEGER NOT NULL DEFAULT 0,
    "precioUnitario" DECIMAL(65,30) NOT NULL DEFAULT 0.0,
    "precioVenta" DECIMAL(65,30) NOT NULL DEFAULT 0.0,
    "ubicacion" TEXT,
    "tallerId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "InventarioItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MovimientoInventario" (
    "id" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "cantidad" INTEGER NOT NULL,
    "costoUnitario" DECIMAL(65,30) NOT NULL,
    "referencia" TEXT,
    "usuarioId" TEXT,
    "inventarioItemId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MovimientoInventario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TrabajoOT" (
    "id" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "estado" TEXT NOT NULL DEFAULT 'PENDIENTE',
    "costoManoObra" DECIMAL(65,30) NOT NULL DEFAULT 0.0,
    "estimacionMinutos" INTEGER DEFAULT 0,
    "esAdicional" BOOLEAN NOT NULL DEFAULT false,
    "estadoAprobacion" TEXT NOT NULL DEFAULT 'APROBADO',
    "fechaAprobacion" TIMESTAMP(3),
    "ordenTrabajoId" TEXT NOT NULL,
    "tecnicoId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "startedAt" TIMESTAMP(3),
    "finishedAt" TIMESTAMP(3),

    CONSTRAINT "TrabajoOT_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TrabajoAdicional" (
    "id" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "descripcion" TEXT,
    "monto" DECIMAL(65,30) NOT NULL DEFAULT 0.0,
    "estadoAprobacion" TEXT NOT NULL DEFAULT 'PENDIENTE_APROBACION',
    "ordenTrabajoId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TrabajoAdicional_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Recomendacion" (
    "id" TEXT NOT NULL,
    "descripcion" TEXT NOT NULL,
    "fechaSugerida" TIMESTAMP(3),
    "estado" TEXT NOT NULL DEFAULT 'PENDIENTE',
    "vehiculoId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Recomendacion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Garantia" (
    "id" TEXT NOT NULL,
    "descripcion" TEXT NOT NULL,
    "mesesValidez" INTEGER NOT NULL,
    "fechaExpiracion" TIMESTAMP(3) NOT NULL,
    "vehiculoId" TEXT NOT NULL,
    "ordenTrabajoId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Garantia_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Reserva" (
    "id" TEXT NOT NULL,
    "clienteNombre" TEXT NOT NULL,
    "clienteTelefono" TEXT NOT NULL,
    "clienteRut" TEXT NOT NULL,
    "patente" TEXT NOT NULL,
    "marca" TEXT NOT NULL,
    "modelo" TEXT NOT NULL,
    "fechaHora" TIMESTAMP(3) NOT NULL,
    "tipoServicio" TEXT NOT NULL,
    "estado" "EstadoReserva" NOT NULL DEFAULT 'AGENDADA',
    "observaciones" TEXT,
    "tallerId" TEXT NOT NULL,
    "ordenTrabajoId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Reserva_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Proveedor" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "telefono" TEXT NOT NULL,
    "email" TEXT,
    "ciudad" TEXT NOT NULL,
    "direccion" TEXT,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Proveedor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MarketplaceItem" (
    "id" TEXT NOT NULL,
    "sku" TEXT,
    "nombre" TEXT NOT NULL,
    "marca" TEXT,
    "precio" DECIMAL(65,30) NOT NULL,
    "stock" INTEGER DEFAULT 0,
    "categoria" TEXT,
    "proveedorId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MarketplaceItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PlantillaServicio" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "descripcion" TEXT,
    "tallerId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PlantillaServicio_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PlantillaTrabajo" (
    "id" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "descripcion" TEXT,
    "tareas" TEXT[],
    "costoBase" INTEGER NOT NULL DEFAULT 0,
    "plantillaId" TEXT NOT NULL,

    CONSTRAINT "PlantillaTrabajo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RepuestoOT" (
    "id" TEXT NOT NULL,
    "cantidad" INTEGER NOT NULL DEFAULT 1,
    "monto" DECIMAL(65,30) NOT NULL DEFAULT 0.0,
    "trabajoId" TEXT NOT NULL,
    "inventarioItemId" TEXT,

    CONSTRAINT "RepuestoOT_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Taller_slug_key" ON "Taller"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "Cliente_rutDni_tallerId_key" ON "Cliente"("rutDni", "tallerId");

-- CreateIndex
CREATE UNIQUE INDEX "Vehiculo_patente_tallerId_key" ON "Vehiculo"("patente", "tallerId");

-- CreateIndex
CREATE UNIQUE INDEX "OrdenTrabajo_tokenSeguro_key" ON "OrdenTrabajo"("tokenSeguro");

-- CreateIndex
CREATE UNIQUE INDEX "OrdenTrabajo_codigo_tallerId_key" ON "OrdenTrabajo"("codigo", "tallerId");

-- CreateIndex
CREATE UNIQUE INDEX "InventarioItem_sku_tallerId_key" ON "InventarioItem"("sku", "tallerId");

-- CreateIndex
CREATE UNIQUE INDEX "Reserva_ordenTrabajoId_key" ON "Reserva"("ordenTrabajoId");

-- AddForeignKey
ALTER TABLE "Usuario" ADD CONSTRAINT "Usuario_tallerId_fkey" FOREIGN KEY ("tallerId") REFERENCES "Taller"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cliente" ADD CONSTRAINT "Cliente_tallerId_fkey" FOREIGN KEY ("tallerId") REFERENCES "Taller"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Vehiculo" ADD CONSTRAINT "Vehiculo_clienteId_fkey" FOREIGN KEY ("clienteId") REFERENCES "Cliente"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Vehiculo" ADD CONSTRAINT "Vehiculo_tallerId_fkey" FOREIGN KEY ("tallerId") REFERENCES "Taller"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrdenTrabajo" ADD CONSTRAINT "OrdenTrabajo_vehiculoId_fkey" FOREIGN KEY ("vehiculoId") REFERENCES "Vehiculo"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrdenTrabajo" ADD CONSTRAINT "OrdenTrabajo_tecnicoId_fkey" FOREIGN KEY ("tecnicoId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrdenTrabajo" ADD CONSTRAINT "OrdenTrabajo_tallerId_fkey" FOREIGN KEY ("tallerId") REFERENCES "Taller"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FotoOT" ADD CONSTRAINT "FotoOT_ordenTrabajoId_fkey" FOREIGN KEY ("ordenTrabajoId") REFERENCES "OrdenTrabajo"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FotoOT" ADD CONSTRAINT "FotoOT_trabajoId_fkey" FOREIGN KEY ("trabajoId") REFERENCES "TrabajoOT"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TareaChecklist" ADD CONSTRAINT "TareaChecklist_ordenTrabajoId_fkey" FOREIGN KEY ("ordenTrabajoId") REFERENCES "OrdenTrabajo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TareaChecklist" ADD CONSTRAINT "TareaChecklist_trabajoId_fkey" FOREIGN KEY ("trabajoId") REFERENCES "TrabajoOT"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ItemPresupuesto" ADD CONSTRAINT "ItemPresupuesto_ordenTrabajoId_fkey" FOREIGN KEY ("ordenTrabajoId") REFERENCES "OrdenTrabajo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ItemPresupuesto" ADD CONSTRAINT "ItemPresupuesto_inventarioItemId_fkey" FOREIGN KEY ("inventarioItemId") REFERENCES "InventarioItem"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BitacoraAccion" ADD CONSTRAINT "BitacoraAccion_ordenTrabajoId_fkey" FOREIGN KEY ("ordenTrabajoId") REFERENCES "OrdenTrabajo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InventarioItem" ADD CONSTRAINT "InventarioItem_tallerId_fkey" FOREIGN KEY ("tallerId") REFERENCES "Taller"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MovimientoInventario" ADD CONSTRAINT "MovimientoInventario_inventarioItemId_fkey" FOREIGN KEY ("inventarioItemId") REFERENCES "InventarioItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TrabajoOT" ADD CONSTRAINT "TrabajoOT_ordenTrabajoId_fkey" FOREIGN KEY ("ordenTrabajoId") REFERENCES "OrdenTrabajo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TrabajoOT" ADD CONSTRAINT "TrabajoOT_tecnicoId_fkey" FOREIGN KEY ("tecnicoId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TrabajoAdicional" ADD CONSTRAINT "TrabajoAdicional_ordenTrabajoId_fkey" FOREIGN KEY ("ordenTrabajoId") REFERENCES "OrdenTrabajo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Recomendacion" ADD CONSTRAINT "Recomendacion_vehiculoId_fkey" FOREIGN KEY ("vehiculoId") REFERENCES "Vehiculo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Garantia" ADD CONSTRAINT "Garantia_vehiculoId_fkey" FOREIGN KEY ("vehiculoId") REFERENCES "Vehiculo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Garantia" ADD CONSTRAINT "Garantia_ordenTrabajoId_fkey" FOREIGN KEY ("ordenTrabajoId") REFERENCES "OrdenTrabajo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Reserva" ADD CONSTRAINT "Reserva_tallerId_fkey" FOREIGN KEY ("tallerId") REFERENCES "Taller"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Reserva" ADD CONSTRAINT "Reserva_ordenTrabajoId_fkey" FOREIGN KEY ("ordenTrabajoId") REFERENCES "OrdenTrabajo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MarketplaceItem" ADD CONSTRAINT "MarketplaceItem_proveedorId_fkey" FOREIGN KEY ("proveedorId") REFERENCES "Proveedor"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PlantillaServicio" ADD CONSTRAINT "PlantillaServicio_tallerId_fkey" FOREIGN KEY ("tallerId") REFERENCES "Taller"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PlantillaTrabajo" ADD CONSTRAINT "PlantillaTrabajo_plantillaId_fkey" FOREIGN KEY ("plantillaId") REFERENCES "PlantillaServicio"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RepuestoOT" ADD CONSTRAINT "RepuestoOT_trabajoId_fkey" FOREIGN KEY ("trabajoId") REFERENCES "TrabajoOT"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RepuestoOT" ADD CONSTRAINT "RepuestoOT_inventarioItemId_fkey" FOREIGN KEY ("inventarioItemId") REFERENCES "InventarioItem"("id") ON DELETE SET NULL ON UPDATE CASCADE;

